.fg_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fg_box {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: auto;
  border: 1px solid #c4c4c4;
  margin-top: -10%;
  /* margin-bottom: 10%; */
}

.insidefpPanel {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  align-content: stretch;
  padding: 10%;
  padding-left: 15%;
  padding-bottom: 15%;
}

.fg_text {
  display: flex;
  padding-bottom: 5%;
  cursor: text;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;

  color: #011338;
}

.fg_body_text {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* or 135% */
  color: #000d26;
}

.sendButton {
  align-self: center;
  /* login button font */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;

  /* button size*/
  width: 436px;
  height: 55px;
  /* Brand color 1 */
  background: #1b4c5a;
  cursor: pointer;
  align-content: stretch;
}

.textInput {
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: text;
}

h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #011338;
}

input {
  align-self: left;
  height: 55px;
  width: 436px;
  left: 538px;
}

.arrowButton {
  scale: 25%;
  margin-top: -5%;
  margin-left: -6%;
  outline: none;
  background-color: white;
  border: none;
}
