.login_card{
    display:flex;
    align-items: center;
    justify-content: center;
}
.login_box{
    display:flex;
    flex-direction:column;
    width: 640px;
    height: auto;
    border: 1px solid #C4C4C4;
}
.logo{
    align-self: center;
    /* PET_FINAL logo 1 */
    width: 135px;
    height: 226px;
}
.insideLoginPanel{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    align-content: stretch; 
    padding:10%
}
.textInput{
    padding-top:5%;
    padding-bottom: 5%;
    cursor: text;
}
.beneathLogo{
    display:flex;
    flex-direction:column;
}
h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #011338;
}
input{
    align-self: left;
    height: 55px;
    width: 436px;
    left: 538px;
}
.accountAdjustButton{
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    justify-content: flex-end;
    color: #000000;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
.boldAccount{
    font-weight: bold;
}
.loginButton{
    align-self: center;
    /* login button font */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    /* button size*/
    width: 436px;
    height: 55px;
    /* Brand color 1 */
    background: #1B4C5A;
    cursor: pointer;
}
.password{
    display:flex;
    flex-direction:row;

}
.passwordInput{
    margin: 0px;
    flex: 1;
    width: 100%;
    z-index: -1;
}
.eyeSlash{
    float: left;
    position: absolute;
    border-width: 0px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}



