.login_card {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_box {
  display: flex;
  flex-direction: column;
  height: auto;
  border: 1px solid #c4c4c4;
  width: 48.261%;
  padding-right: 11.087%;
  padding-left: 11.087%;
  padding-top: 3.956%;
  padding-bottom: 7.64%;
  
}
.logo {
  align-self: center;
  /* PET_FINAL logo 1 */
  width: 55%;
  height: 70%;
padding-bottom:34px;
}
.insideLoginPanel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: stretch;
  padding: 10%;
  width: 436/1920 * 10%;
}
.textInput {
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: text;
}
.invalidAlert {
  flex: content;
  /* width:100%; */
  height: 15%;
  padding: 5%;
  border: 1px solid #d03d3d;
  align-content: stretch;
  text-align: center;
  vertical-align: middle;
  font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 18px;
/* line-height: 55px; */
}
.beneathLogo {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #011338;
}
input {
  align-self: left;
  height: 55px;
  width: 436px;
  left: 538px;
}
.accountAdjustButton {
  display: flex;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  justify-content: flex-end;
  color: #000000;
}
.fgPw {
  padding-top: 5px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
.boldAccount {
  font-weight: bold;
}
.loginButton {
  align-self: center;
  /* login button font */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  /* button size*/
  width: 436px;
  height: 55px;
  /* Brand color 1 */
  background: #1b4c5a;
  cursor: pointer;
}

.inputFocus {
  outline: -webkit-focus-ring-color auto 1px;
}

.inputBlur {
  border: 1px solid black;
  /* outline: auto; */
}

.password {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.passwordInput {
  margin: 0px;
  flex: 1;
  width: 100%;
  z-index: 0;
  border: none;
  outline: none !important;
  background: none;
}
.eyeSlash {
  /* position: absolute; */
  border-width: 0px;
  background: white;
  border: none;
  cursor: pointer;
  margin-right: 4px;
  z-index: 1;
}
